
body {
	background: url(https://images.unsplash.com/photo-1456926631375-92c8ce872def?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	font-family: 'Lato';
	color: white;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px black,
	             0px 8px 13px black,
	             0px 18px 23px black;

	/*background: rgba(0, 0, 0, 0.2);*/

}

.navbar-inverse {
	background: rgba(102, 80, 24, 0.2);
}

.navbar-inverse .navbar-nav li a {
    color: #d8c697;
 }

 .navbar-inverse .navbar-brand {
 	color: #d8c697;
 }

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: rgba(0,0,0,0.2);
}